th.col-sm-2 <%= title %>
th.col-sm-9 <%= content %>
th.col-sm-1
  a.edit.btn.btn-default.btn-xs
    span.glyphicon.glyphicon-pencil
  a.delete.btn.btn-denger.btn-xs
    span.glyphicon.glyphicon-remove
